<!DOCTYPE html>
<html>
  <head>
    <title>Fanco</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h1 class="root-link"><%= link_to 'Fanco', root_path %></h1>
          </div>
          <div class="col-md-8">
            <nav class="main-nav pull-right">
              <%= link_to 'Search', '' %>
              <%= link_to 'Start My Page', '' %>
              <%= link_to 'Explore Creators', '' %>
              <%= link_to 'Sign Up', new_user_registration_path %>
              <%= link_to 'Log In', new_user_session_path %>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-md-offset-1">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
